<p> 
What type of crust would you like?

<form method="post" action="crust_choice">
    <input type="text" name="crust">
    <input type="hidden" name="pizza" value=<%= pizza %>>
    <br>
    <br>
    <input type="submit">
</form>


