<p>
What would you like to drink?

<form method="post" action="drink_choice">
    <input type="text" name="drink">
    <input type="hidden" name="pizza" value=<%= pizza %>>
    <input type="hidden" name="crust" value=<%= crust %>>
    <input type="hidden" name="side" value=<%= side %>>
    <br>
    <br>
    <input type="submit">
</form>