<p> 
Hello! Welcome to Lisa's Pizza Shop
<br>
How may I take your order?

<form method="post" action="pizza_choice">
    <input type="text" name="pizza">
    <br>
    <br>
    <input type="submit">
</form>