<p>
What kind of side would you like to go with your pizza?

<form method="post" action="side_choice">
    <input type="text" name="side">
    <input type="hidden" name="pizza" value=<%= pizza %>>
    <input type="hidden" name="crust" value=<%= crust %>>
    <br>
    <br>
    <input type="submit">
</form>